.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red; /* For browsers that do not support gradients */
    background-image: repeating-radial-gradient( yellow, orange 50%, red 100%);
    animation-name: bgHeader;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    
}

@keyframes bgHeader {
    0% {background-image: repeating-radial-gradient(yellow, orange 50%, red 100%);}
    50% {background-image: repeating-radial-gradient(orange, red 50%, yellow 100%);}
    100% {background-image: repeating-radial-gradient(red, yellow 50%, orange 100%);}
}