.header {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: red; /* For browsers that do not support gradients */
    background-image: radial-gradient( yellow, orange , red);
}

.header-icon {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.header-icon > img {
    width: 4rem;
    
}

.header-icon > p {
    font-size: 4rem;
    
}